h1 {
  font-size: 1.6em;
  color: #FFF;
}

h2 {
  font-size: 1.1em;
}

.icon-menu {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5em;
  line-height: .7em;
  margin-top: .5em;
  margin-right: .5em;
  padding: 0;
}

.heading-group-h1 {
  position: relative;
}

.heading-group-h1 div {
  position: relative;
}

.heading-group-h1 input {
  font-size: 1.3em;
  width: 65%;
  margin-right: 0em;
  padding: 0;
}

.heading-group-h1 form button {
  position: absolute;
  font-size: 1.4em;
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 0em;
  padding: .1em;
}

img {
  display: block;
  margin: auto;
  max-width: 20vw;
}

footer{
  text-align: center;
}

.movie-list-item, .movie-tiny-person-list, .login-form, .page-nav-footer, #user-preferences, .edit-preferences, #doesnt-suck {
  margin-top: 1em;
  background-color: #d2d1d1;
  padding: 0.5em;
  box-shadow: 8px 8px 6px -6px black;
  position: relative;
}

.fav-star {
  position: absolute;
  top: 0.8em;
  right: .5em;
}
.movie-img {
  margin-left: 7px;
  margin-top: 10px;
  margin-right: 7px;
  float: left;
  box-shadow: 8px 8px 5px -6px rgb(133, 131, 131);
}

.movie-info, .movie-tiny-person-list {
  margin-top: 1em;
  text-align: center;
}

.movie-tiny-person-list img {
  float: left;
  width: 5em;
}

h3 {
  font-size: 1.5em;
}


.login-form div, .edit-preferences div {
  /* border-bottom: 1px solid #efefef; */
  margin: 10px;
  padding-bottom: 20px;
  width: 440px;
  font-size: 1.1em;
}
.edit-preferences div {
  width: 640px;
  /* border-bottom: none; */
}
.login-title, .edit-prefs-title {
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}
.edit-prefs-title {
  width: 300px;
}
.login-button, .create-account-button, .save-edits-button {
  float: right;
  margin-right: 265px;
  text-align: left;
}
.create-account-button {
  margin-right: 190px;
}
.save-edits-button {
  margin-right: 170px;
}
