h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.1em;
}

.icon-menu {
  float: left;
  font-size: 2.5em;
  line-height: .7em;
  margin-top: 0em;
  padding: 0;
}

.heading-group-h1 div {
  position: relative;
}

.heading-group-h1 input {
  font-size: 1.3em;
  width: 65%;
  margin-left: 1em;
  margin-right: 0em;
  padding: 0;
}

.heading-group-h1 form button {
  position: absolute;
  font-size: 1.4em;
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 0em;
  padding: .1em;
}

img {
  display: block;
  margin: auto;
}

footer{
  text-align: center;
}

.movie-list-item, .movie-tiny-person-list, .login-form, .page-nav-footer, #user-preferences {
  margin-top: 1em;
  margin-left: 2em;
  background-color: #eeeeee;
  padding: 0.5em;
  box-shadow: 8px 8px 6px -6px black;
  position: relative;
}

.fav-star {
  position: absolute;
  top: 0.8em;
  right: .5em;
}
.movie-img {
  margin-left: 7px;
  margin-top: 10px;
  margin-right: 7px;
  float: left;
  box-shadow: 8px 8px 5px -6px rgb(133, 131, 131);
}

.movie-info, .movie-tiny-person-list {
  margin-top: 1em;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
}

.movie-tiny-person-list img {
  float: left;
  width: 5em;
}

h3 {
  font-size: 1.5em;
}

.login-form div {
  border-bottom: 1px solid #efefef;
  margin: 10px;
  padding-bottom: 20px;
  width: 440px;
  font-size: 1.1em;
}
.login-title {
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}
.login-button {
  float: right;
  margin-right: 265px;
  text-align: left;
}

.create-account-button {
  float: right;
  margin-right: 190px;
  text-align: left;
}
