body > header {
  background-color: black;
  color: white;
}

select {
  font-size: 1.3em;
  color:black;
}

header > div {
  color: grey;
}

header > div a {
  text-decoration: none;
  color: grey;
  display: block;
  height: 100%;
}

nav {
  padding-bottom: 0.7em;
}

ul {
  float: left;
  clear: both;
  width: 100%;
  list-style-type: none;
  margin-left: 0em;
  padding-left: 0em;
  margin-top:0;
}

li {
  font-size: 1.3em;
}

nav li {
  font-size: 1.5em;
  border-bottom: 1px solid grey;
  padding-bottom: 1.5em;
  padding-top: 1em;
  padding-left: 0.2em;
}

nav li a, .heading-group-h1 a {
  text-decoration: none;
  color: rgb(186, 186, 186);
  font-family: 'Times New Roman', Times, serif;
}

nav a {
  float: left;
}

main {
  padding: 0 1em;
}

main p{
  line-height: 1.5em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.heading-group-h1 {
  padding: .2em 1em 1em 1em;
}

.heading-group-h1 h1{
  color: white;
  font-family: 'Fontdiner Swanky', cursive;
}

.overview { 
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  overflow-y: auto;
  height: 125px;
}

.developer-details {
  min-height: 160px;
}

.person-img {
  float: left;
  width: 200px;
}

input#search {
  color: black;
}

#search {
  height: 1.25em;
}

a[href="/logout"], a[href="/profile"] {
  display: none;
}

.fav-star {
  display: none;
  font-size: 2em;
  text-decoration: none;
  color: red;
}

.fav-menu {
  display: none;
}

li:hover a {
  color: #FFF;
}

@media only screen and (min-width:720px){

  nav ul {
    width: auto;
    clear: none;
    margin: 0;
  }

  nav li{
    float: left;
    border-bottom: none;
    padding: .7em 0 0 1em;
  }
}